.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 0;
  width: 500px;
  height: 475px;
  background-color: #fffffe;
}

.title {
  margin: 0px 0px 30px 0px;
  font-size: 15px;
  text-align: center;
  padding: 30px 0;
  background-color: #f2f3fc;
}

.form {
  width: 280px;
  margin: 0 auto;
}

.radioGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.selectCategory {
  margin-bottom: 30px;
}

.select {
  width: 100%;
}

.wrapperInput {
  display: flex;
  justify-content: space-between;
}

.inputText {
  width: 128px;
  border: 1px solid rgb(183, 183, 182);
  border-radius: 4px;
  padding: 4px 4px;
}

.inputText:hover {
  border-color: #000;
}

.titleComents {
  font-size: 14px;
}

.textArea {
  resize: none;
  width: 273px;
  padding: 0;
  margin-bottom: 10px;
  border: 1px solid rgb(183, 183, 182);
  border-radius: 4px;
  padding: 5px 0px 5px 5px;
}

.textArea:hover {
  border-color: #000;
}

.btn {
  width: 100%;
  background-color: #415b7d;
}

.btnCircle {
  position: absolute;
  right: 20px;
}
