.table {
  width: 100%;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 13px;
  color: #2c353e;
  border-collapse: collapse;
}

.tableHead .tableRaw {
  height: 62px;
  background-color: #f3f6f6;
}

.tableCellHead {
  text-align: center;
  padding: 5px;
}

.tableBody .tableRaw {
  font-weight: 400;
  text-align: center;
  height: 42px;
  border-bottom: 2px solid #f3f6f6;
}
