.nav {
  display: flex;
}

.navtext {
  display: none;
}
.navlink {
  line-height: 30px;
}

@media (max-width: 699px) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 120px;
  }

  .navlink {
    width: 31px;
    height: 26px;
    background-color: #2a4262;
    border-radius: 4px;
    text-align: center;
    color: #a9b3bf;
  }

  .navlink:hover {
    color: #fff;
    background-color: #66778e;
  }
}

@media (min-width: 700px) {
  .nav {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #6b7d83;
  }

  .navtext {
    display: inline;
  }

  .navlink:visited {
    color: inherit;
  }

  .navlink::after {
    content: '|';
    padding-left: 12px;
    padding-right: 12px;
  }

  .navlink {
    display: flex;
    align-items: center;
  }

  .navlink:hover {
    color: #3a5374;
  }

  .navicon {
    padding-right: 12px;
  }
}

@media (min-width: 1240px) {
  .nav {
    display: block;
    width: 312px;
    border-radius: 4px;
    background-color: rgb(40, 64, 96);
    box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
    color: var(--white-color);
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 33px 0;
  }

  .navlink {
    color: #fff;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navlink::after {
    content: '';
  }

  .navlink:hover {
    color: #95a1b1;
  }
}
