.container {
  background-color: #f9fbfb;
  width: 321px;
  height: 569px;
  margin: 0 auto;
}

.button {
  width: 276px;
  height: 40px;
  border: none;
  margin-top: 30px;
  color: var(--white-color);
  background: #fc842c;
  font-size: 15px;
  font-family: HelveticaNeueCyr-Bold, AdobeInvisFont, MyriadPro-Regular;
  border-radius: 3px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 24px;
  height: 24px;
  background: url(../../assets/imgs/wallet\ icon@1X.png) center no-repeat;
}

.wallet {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 75px;
  height: 17px;
  background: url(../../assets/imgs/Wallet@1X.png) center no-repeat;
}

.form {
  border: none;
  opacity: 1;
  width: 276px;
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 10px;
}

.registry_link {
  text-align: center;
  margin-top: 30px;
}

.link {
  color: #6b7d83;
  font-size: 12px;
}

.input {
  background: #f9fbfb;
  border-radius: 3px;
}

@media (min-width: 320px) {
  .form {
    box-shadow: 0 0 10px #6b6b6b;
  }
}
