.wrapper {
  display: flex;
  justify-content: center;
}

.innerWrapper {
  width: 264px;
  height: 264px;
  padding: 0;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .innerWrapper {
    width: 378px;
    height: 378px;
  }
}

@media (min-width: 1024px) {
  .innerWrapper {
    width: 334px;
    height: 334px;
  }
}
