.container {
  width: 264px;
  height: 264px;
  margin: 10px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.text {
  color: white;
}

.PieContainer {
  margin: 0 auto;
  padding: 20px;
  width: 320px;
}

.pieChart {
  margin: 0;
} */

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 378px;
    height: 378px;
  }
}

@media (min-width: 769px) {
  .container {
    width: 334px;
    height: 334px;
  }
}
