.container {
  display: flex;
  width: 1192px;
  margin: 0 auto;
}

.sidebar {
  margin-right: 30px;
}

.main {
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 748px;
  }

  .sidebar {
    /* display: none; */
    height: 0;
    margin: 0;
  }
}
