/* #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.table {
  width: 100%;
  box-sizing: border-box;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #282828;
  border-left-width: 8px;
  border-left-style: solid;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.tableHead {
  width: 50%;
  font-weight: 400;
  text-align: left;
  padding: 0 14px;
}

.tableRaw {
  height: 45px;
}

.tableRaw:nth-child(odd) {
  background-color: #f3f6f6;
}

.tableCell {
  padding: 0 5px;
}

.tableIncome {
  border-left-color: #7e8c9e;
}

.tableSpend {
  border-left-color: #e08a20;
}

.tableAmountIncome {
  color: #3a5374;
  font-weight: 700;
}

.tableAmountSpend {
  color: #e08a20;
  font-weight: 700;
}
