.wrapper {
  width: 100%;
  background: #284060;
}

.container {
  margin: 0 auto;
  max-width: 1192px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.img {
  display: block;
  height: 22px;
  margin-left: 10px;
}

.logo {
  height: 88px;
  width: 88px;
  margin-left: 10px;
  background: url(../../assets/imgs/mobile-logo.png) center no-repeat;
}

.btnBlock {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 6px;
  font-family: 'HelveticaNeueCyr';
}

.loginBtn {
  margin-right: 20px;
  opacity: 0.5;
  color: var(--white-color);
}

.logoutBtn {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: url(../../assets/imgs/exit-btn.png) center no-repeat;
}

/* tablet/ mobile? */
@media (min-width: 700px) {
  .wrapper {
    height: 80px;
    background: var(--white-color);
    box-shadow: 0 0 10px #6b6b6b;
  }

  .logo {
    width: 102px;
    height: 25px;
    margin-left: 33px;
    background: url(../../assets/imgs/desktop-logo.png) center no-repeat;
  }

  .logoutBtn {
    margin-right: 84px;
    border: 0;
    cursor: pointer;
    outline: none;
  }

  .logoutBtn::after {
    position: relative;
    left: 20px;
    content: 'Выйти';
    font-family: HelveticaNeueCyr;
    color: #6b7d83;
  }

  .loginBtn {
    opacity: 1;
    color: #6b7d83;
  }
}

/* Desktop */
@media (min-width: 1240px) {
  .wrapper {
    margin-bottom: 45px;
  }

  .logo {
    margin-left: 42px;
  }

  .logoutBtn {
    margin-right: 100px;
  }
}
