.sidebar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 84px;
}

@media (min-width: 1240px) {
  .container {
    display: flex;
    max-width: 1192px;
    margin: 0 auto;
  }

  .sidebar {
    margin-right: 30px;
    display: block;
  }

  .main {
    width: 100%;
  }
}
