.header {
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: #284060;
  color: var(--primary-background);
  height: 60px; */
  /* visibility: hidden; */
  min-width: 280px;
  display: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-background);
  margin: 0 auto;
  min-width: 280px;
}

.diagramme {
  display: flex;
  justify-content: center;
  background-color: var(--primary-background);
  height: 100vh;
  margin: 0 auto;
  min-width: 280px;
}

.filterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-background);
  margin: 0 auto;
  min-width: 280px;
}
.statistic {
  display: flex;
  justify-content: center;
  background-color: var(--primary-background);
  margin: 0 auto;
  min-width: 280px;
}

/* tablet */
@media (min-width: 549px) {
  .mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-background);
    margin: 0 auto;
  }
  .header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284060;
    color: var(--primary-background);
    /* visibility: visible; */
  }
  .wrapperDiagramme {
    box-shadow: 0 0 10px #6b6b6b;
  }
  .filterWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .header {
    height: 60px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284060;
    color: var(--primary-background);
    /* visibility: visible; */
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px #6b6b6b;
  }

  .wrapperDiagramme {
    display: flex;
    justify-content: center;
    min-width: 430px;
    box-shadow: none;
  }
  .wrapperFS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 430px;
    height: 100%;
  }
  .filterWrapper {
    margin-top: 30px;
  }
}
