.balance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 312px;
  height: 91px;
  border-radius: 4px;
  background-color: rgb(40, 64, 96);
  box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
  color: var(--white-color);
  font-family: 'HelveticaNeueCyr';
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
}

.balance p {
  padding: 0;
  margin: 0;
}
