@media (max-width: 699px) {
  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 91px;
    border-radius: 4px;
    background-color: rgb(40, 64, 96);
    box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
    color: var(--white-color);
    margin-bottom: 30px;
  }

  .balance p {
    padding: 0;
    padding-left: 30px;
    margin-right: 10px;
  }

  .balance span {
    padding-right: 30px;
    color: inherit;
  }
}

@media (min-width: 700px) {
  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #6b7d83;
  }

  .balance p::after {
    content: ':';
    color: #3a5374;
  }

  .balance p {
    margin: 0;
    padding-right: 4px;
  }

  .balance span {
    color: #3a5374;
  }
}

@media (min-width: 1240px) {
  .balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
    height: 91px;
    border-radius: 4px;
    background-color: rgb(40, 64, 96);
    box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
    color: var(--white-color);
    margin-bottom: 30px;
  }

  .balance p {
    padding: 0;
    margin: 0;
    padding-left: 30px;
  }

  .balance span {
    padding-right: 30px;
    color: inherit;
  }
}
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .balance {
    display: none;
    margin: 0;
    width: 156px;
    height: 14px;
    background: none;
    box-shadow: none;
  }

  .balance p {
    color: #6b7d83;
    padding: 0;
  }

  .balance span {
    padding: 0;
    color: #3a5374;
  }
} */
